*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Moonrocks', cursive;
}
/* xd
a{
    margin: 15px;
}

p{
    margin: 5px;
    padding: 10px;
    width: 500px;
    border: 1px solid red;
}
*/